snippet beg "begin{} / end{}" bA
\begin{$1}
	$0
\end{$1}
endsnippet

snippet eq "Equation" w
\begin{equation}
	$1
\end{equation}

endsnippet

snippet eq* "Equation without numbering" w
\begin{equation*}
	$1
\end{equation*}

endsnippet

